* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1e1e1e;
  --surface: #000000;
  --background-3: #00000017;
  --background-4: #0000003e;

  --snake-body: #1b03a3;
  --food: #ff3131;

  --border: #ffffff1a;

  --grid-size: 30;
  --max-grid-width: 360px;
}

#new-ui {
  --accent: #05adad;
  --primary: #035252;
  --grey-dark: #0e0e0e;
  --grey-light: #1e1e1e;
  --grey-light-hover: hsl(0 0 17);

  --background: var(--grey-dark);
  --surface: var(--grey-light);
  --hover: var(--grey-light-hover);

  --shadow: hsl(0 0 0/0.2);

  --snake-body: var(--primary);
  --food: var(--accent);

  --text: #dadada;

  --grid-size: 14;
  --max-grid-width: 320px;

  &.ui-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    font-family: "Roboto", sans-serif;
    line-height: 1.3;

    padding: 1rem;
    height: 100dvh;
    background: var(--background);

    /* Board */
    .board {
      display: grid;
      grid-template-columns: repeat(var(--grid-size), 1fr);
      grid-template-rows: repeat(var(--grid-size), 1fr);
      gap: 0.25rem;
      padding: 0.25rem;
      border-radius: 0.25rem;

      width: max(35%, var(--max-grid-width));
      aspect-ratio: 1;

      background: var(--surface);
    }

    /* Snake */
    .snake-body {
      background: var(--snake-body);
      position: relative;
      border-radius: 0.125rem;

      &.snake-head {
        scale: 1.12;
      }
    }

    /* Food */
    .food {
      background: var(--food);
      border-radius: 0.125rem;
    }

    .score-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      width: max(35%, var(--max-grid-width));

      color: var(--text);
      border-radius: 4px;
      background: var(--surface);
      padding: 0.75rem 1rem;
      font-family: monospace;
      font-size: 0.75rem;

      .dropdown {
        position: relative;
        z-index: 8;

        .dropdown-button {
          background: var(--surface);
          color: var(--text);

          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5em;

          outline: 0;
          border: 1px solid var(--border);
          border-radius: 4px;

          padding: 0.5em 0.75em;
          width: 8rem;

          font-size: 1rem;

          cursor: pointer;
          transition: all 250ms ease;

          &.selected {
            border-color: var(--accent);
            color: var(--accent);
          }
        }

        .dropdown-list {
          position: absolute;
          top: calc(100% + 0.5rem);
          left: 0;

          display: flex;
          flex-direction: column;
          gap: 0.15rem;

          border: 1px solid var(--border);
          border-radius: 0.25rem;
          background: var(--surface);
          padding-block: 0.5rem;
          width: 100%;

          box-shadow: 0.15rem 0.15rem 2px 0 var(--shadow);

          .btn {
            width: 100%;
            padding: 0.5em 0.75em;

            border: 0;
            outline: 0;

            background: transparent;
            color: var(--text);
            cursor: pointer;

            font-size: 0.875rem;
            white-space: pre;

            transition: all 250ms ease;

            &:hover {
              background: var(--accent);
            }
          }
        }
      }
    }

    /* Navigation Buttons */
    .navigation-buttons {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      gap: 0.5rem;

      div {
        display: flex;
        align-items: center;
        gap: 5rem;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--background-4);
        padding: 0.25rem;
        border-radius: 4px;
        border: 0;

        cursor: pointer;

        svg {
          fill: var(--text);
        }
      }
    }
  }
}

#old-ui {
  &.ui-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    font-family: "Roboto", sans-serif;
    line-height: 1.3;

    padding: 1rem;
    height: 100dvh;
    background: var(--background);
  }

  /* Board */
  .board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);

    width: max(42%, var(--max-grid-width));
    aspect-ratio: 1;
    background: var(--surface);
  }

  /* Snake */
  .snake-body {
    background: var(--snake-body);
    position: relative;
  }

  /* Food */
  .food {
    background: var(--food);
  }

  .score-card {
    position: fixed;
    top: 1rem;
    right: min(10%, 1rem);

    border-radius: 4px;
    border: 1px solid var(--border);
    padding: 1rem 1.5rem;
    background: var(--background-3);
    color: white;
  }

  /* Navigation Buttons */
  .navigation-buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 0.5rem;

    div {
      display: flex;
      align-items: center;
      gap: 5rem;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      background: var(--background-4);
      padding: 0.25rem;
      border-radius: 4px;
      border: 0;

      cursor: pointer;
    }
  }
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 1000px) {
  #new-ui {
    --grid-size: 20;

    gap: 1rem !important;

    .score-card {
      font-size: 1rem !important;
      padding-inline: 2rem !important;
    }
  }

  .navigation-buttons {
    display: none !important;
  }
}
